<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Alcove Shows</title>
  </head>
  <body>
    <div id="app">
      <nav
        class="navbar navbar-expand-lg navbar-light fixed-top bg-light pl-5 pr-5 pt-5"
      >
        <router-link class="navbar-brand logo-container" to="/">
          <img
            class="logo"
            alt="New Mexico Meseum of Art Logo"
            src="assets/logos/NMMoA_logo.png"
          />
        </router-link>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav mr-0 mt-3">
            <template v-if="$route.path == '/about'">
              <li class="nav-item active">
                <router-link class="nav-link" to="/about">
                  About <span class="sr-only">(current)</span>
                </router-link>
              </li>
            </template>
            <template v-else>
              <li class="nav-item">
                <router-link class="nav-link" to="/about"> About </router-link>
              </li>
            </template>
            <template v-if="$route.path == '/exhibits'">
              <li class="nav-item active">
                <router-link class="nav-link" to="/exhibits">
                  All Shows <span class="sr-only">(current)</span>
                </router-link>
              </li>
            </template>
            <template v-else>
              <li class="nav-item">
                <router-link class="nav-link" to="/exhibits">
                  All Shows
                </router-link>
              </li>
            </template>
            <template v-if="$route.path == '/exhibits/2012'">
              <li class="nav-item active">
                <router-link class="nav-link" to="/exhibits/2012">
                  Alcoves 2012 <span class="sr-only">(current)</span>
                </router-link>
              </li>
            </template>
            <template v-else>
              <li class="nav-item">
                <router-link class="nav-link" to="/exhibits/2012">
                  Alcoves 2012
                </router-link>
              </li>
            </template>
            <template v-if="$route.path == '/exhibits/2016'">
              <li class="nav-item active">
                <router-link class="nav-link" to="/exhibits/2016">
                  Alcoves 2016 <span class="sr-only">(current)</span>
                </router-link>
              </li>
            </template>
            <template v-else>
              <li class="nav-item">
                <router-link class="nav-link" to="/exhibits/2016">
                  Alcoves 2016
                </router-link>
              </li>
            </template>
            <template v-if="$route.path == '/exhibits/2020'">
              <li class="nav-item active">
                <router-link class="nav-link" to="/exhibits/2020">
                  Alcoves 2020 <span class="sr-only">(current)</span>
                </router-link>
              </li>
            </template>
            <template v-else>
              <li class="nav-item">
                <router-link class="nav-link" to="/exhibits/2020">
                  Alcoves 2020
                </router-link>
              </li>
            </template>

            <!-- <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Alcove Shows</a
              >
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <router-link class="dropdown-item" to="/exhibits"
                  >All Shows</router-link
                >
                <router-link class="dropdown-item" to="/exhibits/2012"
                  >Alcoves 2012</router-link
                >
                <router-link class="dropdown-item" to="/exhibits/2016"
                  >Alcoves 2016</router-link
                >
                <router-link class="dropdown-item" to="/exhibits/2020"
                  >Alcoves 2020</router-link
                >
              </div>
            </li> -->
            <!-- <template v-if="$route.path == '/acknowledgements'">
              <li class="nav-item active">
                <router-link class="nav-link" to="/acknowledgements"
                  >Acknowledgements <span class="sr-only">(current)</span>
                </router-link>
              </li>
            </template>
            <template v-else>
              <li class="nav-item">
                <router-link class="nav-link" to="/acknowledgements"
                  >Acknowledgements</router-link
                >
              </li>
            </template> -->

            <template v-if="$route.path == '/press'">
              <li class="nav-item active">
                <router-link class="nav-link" to="/press">
                  Press <span class="sr-only">(current)</span>
                </router-link>
              </li>
            </template>
            <template v-else>
              <li class="nav-item">
                <router-link class="nav-link" to="/press">
                  Press
                </router-link>
              </li>
            </template>
          </ul>
        </div>
      </nav>
      <!-- Header -->
      <header>
        <div
          class="container-fluid text-center alcove2012 m-0 p-5"
          v-if="$route.params.year == 2012"
        >
          <img
            class="img-fluid"
            alt="Alcove Shows 2012"
            src="assets/logos/alcoves12_logo.png"
          />
        </div>
        <div
          class="container-fluid text-center alcove2016 m-0 p-5"
          v-else-if="$route.params.year == 2016"
        >
          <img
            class="img-fluid"
            alt="Alcove Shows 2016"
            src="assets/logos/alcoves16_logo.png"
          />
        </div>
        <div
          class="container-fluid text-center alcove2020 m-0 p-5"
          v-else-if="$route.params.year == 2020"
        >
          <img
            class="img-fluid"
            alt="Alcove Shows 2020"
            src="assets/logos/alcoves20_logo.png"
          />
        </div>
      </header>

      <main>
        <router-view
          :key="$route.fullPath"
          class="container-fluid"
        ></router-view>
      </main>

      <footer class="container-fluid row p-5 m-0 vh-75">
        <div class="col-sm-12 col-md-6 col-lg-8 mt-3">
          <p>
            Copyright 2012 |
            <a href="http://www.nmartmuseum.org">The New Mexico Museum of Art</a
            ><br />The museum is a Division of the
            <a href="http://www.newmexicoculture.org"
              >New Mexico Department of Cultural Affairs</a
            >
          </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
          <a href="http://www.newmexicoculture.org/">
            <img
              class="img-fluid"
              alt="Cultural Affairs Logo"
              src="assets/logos/DCA_logo.png"
            />
          </a>
        </div>
      </footer>
    </div>
    <!-- end #app -->

    <!-- Photoswipe -->
    <!--CSS file -->
    <link rel="stylesheet" href="libraries/photoswipe/photoswipe.css" />
    <!-- Skin CSS file (styling of UI - buttons, caption, etc.)
                 In the folder of skin CSS file there are also:
                 - .png and .svg icons sprite, 
                 - preloader.gif (for browsers that do not support CSS animations) -->
    <link
      rel="stylesheet"
      href="libraries/photoswipe/default-skin/default-skin.css"
    />
    <!-- Core JS file -->
    <script src="libraries/photoswipe/photoswipe.min.js"></script>
    <!-- UI JS file -->
    <script src="libraries/photoswipe/photoswipe-ui-default.min.js"></script>
    <!-- Photoswipe gallery -->
    <script src="assets/photoswipe-gallery.js"></script>

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="libraries/bootstrap-4.4.1-dist/css/bootstrap.min.css"
    />
    <script src="libraries/jquery/jquery-3.5.1.slim.min.js"></script>

    <script src="libraries/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>

    <!-- custom css -->
    <link rel="stylesheet" href="assets/style.css" />

    <!-- Parser -->
    <script src="assets/xmltojson.js"></script>

    <!-- Vue -->
    <script src="libraries/vuejs/vue.js"></script>
    <script src="libraries/vuejs/vue-router.js"></script>

    <!-- Lazy Load -->
    <script src="libraries/lazyload/vue-lazyload.js"></script>

    <!-- Vue Pages -->
    <script src="pages/about.vue.js"></script>
    <script src="pages/shows.vue.js"></script>
    <script src="pages/exhibit.vue.js"></script>
    <script src="pages/gallery.vue.js"></script>
    <script src="pages/acknowledgements.vue.js"></script>
    <script src="pages/press.vue.js"></script>

    <!-- Vue App / Router -->
    <script src="app.js"></script>
  </body>
</html>
