@font-face {
  font-family: dezen;
  src: url(fonts/Dezen_Pro_Regular.otf);
}

body,
#app {
  padding: 0px;
  margin: 0px;
  font-size: 1.3em;
}
.logo-container {
  max-width: 300px;
}
a{
 color: grey
}
a:hover{
 color: darkgrey
     
}

.logo {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  background-repeat: no-repeat;
}
p{
    color: #000;
    font-size: 18px !important;
}
h1, h2, h3, h4, h5, h6{
    color: #000;
    font-family: dezen;
}

header {
  margin-top: 150px;
  margin-bottom: 50px;
}

main {
  min-height: 800px;
  padding: 0;
}
footer {
  background-color: #e7e7e7;
}

.gallery img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.gallery figcaption {
  display: none;
}

.pswp img {
  max-width: none;
  object-fit: contain;
}


header .alcove2012,
.card .alcove2012 {
  background: #404c5f;
}
.alcove2012 .btn-primary {
  background: #7791ae;
  border: 0;
}
.alcove2012 .btn-secondary {
  background: #404c5f;
  border: 0;
}

.alcove2012 h1,
.alcove2012 h2,
.alcove2012 h3,
.alcove2012 h4,
.alcove2012 h5,
.alcove2012 h6 {
  color: #404c5f;
}
header .alcove2016,
.card .alcove2016 {
  background: #ef632e;
}
.alcove2016 .btn-primary {
  background: #9b9387;
  border: 0;
}
.alcove2016 .btn-secondary {
  background: #ef632e;
  border: 0;
}
.alcove2016 h1,
.alcove2016 h2,
.alcove2016 h3,
.alcove2016 h4,
.alcove2016 h5,
.alcove2016 h6 {
  color: #ef632e;
}

header .alcove2020,
.card .alcove2020 {
  background: #a2bb3c;
}
.alcove2020 .btn-primary {
  background: #4b4b4d;
  border: 0;
}
.alcove2020 .btn-secondary {
  background: #88898c;
  border: 0;
}


.alcove2020 h1,
.alcove2020 h2,
.alcove2020 h3,
.alcove2020 h4,
.alcove2020 h5,
.alcove2020 h6 {
  color: #a2bb3c;
}

nav {
  /* If we are using dropdown */
  /*  font-size: 38px !important; */
  /* If all of the Alcove shows are on the navbar */
  font-size: 24px !important;
  font-family: dezen;

}

.btn {
  font-size: 24px !important;
}

nav .nav-link {
    margin-left: 20px;
    margin-right: 20px;
    font-family: dezen;
    color: #000000 !important;
    text-transform: uppercase;
	
}

nav .nav-link:hover {
  color: #585858 !important;
}

nav .nav-link:active {
    border-bottom: #585858;

}

.dropdown-menu .dropdown-item {
    font-size: 22px !important;
    text-transform: uppercase;

}
.dropdown-menu .dropdown-item:active{
    background: #585858;
}

.figure-caption{
    font-size: 16px !important;
}
.card-img-top {
  height: 300px;
  object-fit: cover;
}

.card-title {
  font-size: 32px !important;
}

.lead {
  font-size: 24px;
}

.article .card .card-body .card-title {
  font-size: 32px !important;
}

.article .card .card-body .card-subtitle {
  font-size: 20px !important;
}

.article .card .card-body .card-text {
  font-size: 28 !important;
}

.article .card .card-body .article-link {
  font-size: 24px !important;
}
